*{
    background-color: aqua;
    margin: 0;
    font-family: sans-serif;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}


.principal{
    
    background-color: white;
    width: 450px;
    margin: auto;
    background-color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 15%;
    border-radius: 7px;
    
}
H1
{
    text-align: center;
    background-color: white;
}
.espacio{
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: white;
    width: 100%;
    height:40px;
    box-sizing: border-box;
    justify-content: space-between;
}
p{
    background-color: white;
    margin: auto;
}
a{
    background-color: white;
    margin: auto;
}

.enviar{
    height: 30px;
    width: 50px;
    background-color: white;
    border-radius: 7px;
    
    
}
.enviar:active{
    transform: scale(1.05);
}
div{
    background-color: white;
    margin-left: 350px;
}


/*inicia el registro */

.registro{
    
    background-color: white;
    width: 450px;
    height: 600px;
    margin: auto;
    background-color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 2%;
    border-radius: 7px;
    
}
.info{
   border-radius: 15px;
    margin-bottom: 20px;
    background-color: white;
    width: 100%;
    height:40px;
    box-sizing: border-box;
    justify-content: space-between;
    
}
.enviarr{
    background-color: white;
    border-radius:7px;
    height: 30px;
    margin-top: 25px;
 
}
.infos{
   border-radius: 15px;
    margin-bottom: 20px;
    margin-right: 19px;
    margin-left: 19px;
    
    background-color: white;
    width: 40%;
    height:40px;
    box-sizing: border-box;
    justify-content: space-between;
}
.enviarr:active{
    transform: scale(1.05);
}




